{%  extends 'base.html' %}
{% load static %}
<!--<script src="{% static 'app.js' %}"></script>-->
{%  block content %}
  <h2>Your training materials</h2>
    <p>Trainig materials close to expiration date</p>
      <ul>
          {% for material in materials %}
            {% if material.material_id.is_time_limited %}
                {% if material.material_id.expiration_date <= exp_date %}
              <li>
                  <a href="{% url 'material_details' material.material_id.id %}" class="text-decoration-none">
                      {{ material.material_id }}</a>
              </li>
                {% endif %}
            {% endif %}
          {% endfor %}
      </ul>

    <p>All trainig materials</p>
      <ul>
          {% for material in materials %}
              <li>
                  <a href="{% url 'material_details' material.material_id.id %}" class="text-decoration-none">
                      {{ material.material_id }}</a>
              </li>
          {% endfor %}
      </ul>

{% endblock %}
